body {
    background: hsla(197, 68%, 25%, 0.849) url(https://images.ru.prom.st/328066777_w640_h640_kuhonnyj-modulnyj-garnitur.jpg); 
background-size: 1530px auto;
 color: 	#000000;
 font-style: italic;
}
h1, h2 { 
    text-align: center; 
}
#head {
    font-size: 30px;
    font-style: italic;
}
#logo {
    float: left;
    width: 110px;
    height:90px;
}
#gde {
    font-size: 20px;
}
header {
    background-color: #c99548f1;
}
A {
   color: #b36323e3;
}
#itog{
    color: #b36323e3;
    font-size: 30px;
}